/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #203A43; 
    color: white;
    height: 100vh;
    overflow: hidden;
}

/* Background gradient to mimic the vector sky */
.container {
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #1e3c50 0%, #2c5364 80%);
    background-image: url('xmas.jpeg');
    background-size: cover;
    background-position: center;
}

/* Content Styling */
.content {
    text-align: center;
    z-index: 10;
    margin-bottom: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
    color: #e0e0e0;
    margin-bottom: 40px;
    font-weight: 400;
}

/* Countdown Box Styling */
.countdown-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.time-box {
    background-color: white;
    color: #2c5364;
    width: 120px;
    height: 140px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.number {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
}

.label {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #555;
    margin-top: 5px;
    font-weight: 600;
}



/* Mobile Responsiveness */
@media (max-width: 768px) {
    h1 { font-size: 1.8rem; padding: 0 10px; }
    p { font-size: 0.9rem; padding: 0 20px; }
    
    .countdown-container {
        gap: 10px;
    }
    
    .time-box {
        width: 70px;
        height: 90px;
    }
    
    .number { font-size: 2rem; }
    .label { font-size: 0.7rem; }
    

}
